body{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    width: 750px;
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    display: block;
}

h1 {
    font-size: 3rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0.5rem;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}

#counter {
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    position: fixed;
    top: 1rem;
    right: 3rem;
}

#hiddenItemAdd {
    overflow:hidden;
}

#inputFields {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.imagePreview {
    height: 8rem;
    width: 8rem;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    margin: 1rem 1rem 1rem 0rem;
    display:flex;
    align-items: center;
    justify-content:  center;
    color: #BEBEBE;
}

.imagePreview_img {
    display:none;
    width: 100%;
    border-radius: 15px;
}

#inputImage{
    position: relative;
    height:1rem;
}

#inputText{
    border: 2px solid #BEBEBE;
    width: 28rem;
    height: 8rem;
    outline: none;
    resize: none;
}



#sortable {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
}

.sortable-item {
    width: 100%;
    list-style: none;
    overflow: hidden;
    background-color: white;
    
}

ul {
    margin: 0 1.5rem; 
    padding: 0; 
}

.picture {
    max-height: 8rem;
    max-width: 8rem;
    float: left;
    clear: left;
    border-radius: 15px;
    margin: 1rem 1rem 1rem 0rem;
}

.description {
    float: left;
    margin: 1rem;
    text-align: justify;
    overflow-wrap: break-word;
    width: 28rem;
    height: 8rem;
    display: block;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    color: white;
    background-color: #A0A0A0;
    width: 4rem;
    height: 1.2rem;
    text-align: center;
    float: right;
    margin:1rem 0.5rem;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.70;
}

#hiddenButtons {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}


#save:hover{
    background-color: green;
}

#clear:hover{
    background-color: red;
}

#undo:hover {
    background-color: blue;  
}


.edit:hover {
    background-color: blue;  
}

.delete:hover {
    background-color: red;
}


#addButton:hover {
    background-color: green;
}

#hiddenItemAdd {
    display: none;
}

button#addButton {
    clear: both;
    display: inline-block;
    float: none;
    margin-left: auto;;
}


@media only screen and (max-width: 1000px) {

main {
    margin: 2%;
}

#counter {
    position: static;
    float: right;
}

.description {
    width: 90%;
    height: auto;
    float: none;
}

.picture {
    height: 25%;
    width: 25%;
    max-width: 8rem;
    max-height: 8rem;

    margin: 3%;
    float: left;
}

button {
    float: right;
}

#sortable{
    text-align: justify;
}


#hiddenButtons {
    float: right;
}

#inputFields {
    display: inline-block;
} 

#hiddenButtons {
    display: inline-block;
} 

.imagePreview {
    
    height:8rem;
    width:8rem;

    margin: 3%;
    float: left;
}

#inputText{
    width: 90%;
    height: auto;
    margin: 3%;

}

#inputFields {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

}